[defaults]
inventory = ./inventory
private_key_file = /home/ubuntu/.ssh/id_ecdsa
remote_user = ansible_user
host_key_checking = False
become = True
become_user = root
timeout = 30
log_path = ./ansible.log
