; {{ ansible_managed }}
; {{ ansible_managed }}
[Unit]
Description=Web server NGINX (Container)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run --rm --name nginx --hostname nginx \
  -v /usr/share/nginx/html:/usr/share/nginx/html:ro \
  -v /var/lib/nginx/conf.d:/etc/nginx/conf.d:ro \
  -v /etc/nginx/ssl:/etc/nginx/ssl:ro \
  -p 80:80 \
  -p 443:443 \
  nginx

[Install]
WantedBy=multi-user.target

