[Unit]
Description=Jenkins container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm \
  --name {{ jenkins_container_name }} \
  -u root \
  -p {{ jenkins_port }}:8080 \
  -p {{ jenkins_agent_port }}:50000 \
  -v {{ jenkins_volume }}:/var/jenkins_home \
  {{ jenkins_image }}
ExecStop=/usr/bin/docker stop {{ jenkins_container_name }}

[Install]
WantedBy=multi-user.target

